# Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [3]:
x = 2
y = 5
xy = 'Hey'

In [5]:
x+y, xy

(7, 'Hey')

Multiple variables can be assigned with the same value.

In [7]:
x = y = 1

In [8]:
 x,y

(1, 1)

# Operators

##Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [9]:
1+2

3

In [10]:
2-1

1

In [11]:
1*2

2

In [20]:
1/2

0.5

0? This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [21]:
1/2.0

0.5

In [22]:
15%10

5

In [23]:
2//10

0

Floor division is nothing but converting the result so obtained to the nearest integer.

In [24]:
2.8//2.0

1.0

##Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [25]:
z = 1

In [26]:
z == 1

True

In [27]:
z > 1

False

##Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [28]:
a = 2 #10
b = 3 #11

In [31]:
print(a & b)
print(bin(a&b))

2
0b10

In [32]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [33]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

#Built-in Functions

Python comes loaded with pre-built functions

##Conversion from one system to another

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in **hex( )**, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function **oct( )**.

In [34]:
hex(170)

'0xaa'

In [35]:
0xAA

170

In [36]:
oct(8)

'0o10'

In [38]:
0o10

8

**int( )** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.

In [48]:
print(int('010',8))
print(int('0xaa',16))
print(int('1010',2))

8
170
10

**int( )** can also be used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function **str( )** can be used to convert the integer back to string format

In [47]:
int(7.7),int('7')

(7, 7)

In [51]:
bin(10)

'0b1010'

In [52]:
float('3.142')

3.142

Also note that function **bin( )** is used for binary and **float( )** for decimal/float values. **chr( )** is used for converting ASCII to its alphabet equivalent, **ord( )** is used for the other way round.

In [53]:
chr(98),chr(66)

('b', 'B')

In [54]:
ord('b'),ord('B')

(98, 66)

##Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [55]:
round(5.6231) , round(4.55892, 2)

(6, 4.56)

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [57]:
c =complex('5+2j')
abs(c)

5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [58]:
divmod(9,2)

(4, 1)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [60]:
isinstance(1, int), isinstance(1.0,int), isinstance(1.0,(int,float))

(True, False, True)

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [63]:
 pow(3,3), pow(3,3,5)

(27, 2)

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [80]:
for i in range(3):
    print(i, end=', ')

0, 1, 2,

In [79]:
for i in range(2,9):
    print(i, end=', ')

2, 3, 4, 5, 6, 7, 8,

In [78]:
for i in range(2,27,8):
    print(i, end=', ')

2, 10, 18, 26,

##Accepting User Inputs

**input( )**, this is used only for all data inputs.

In [77]:
abc1 =  input("All data type can be stored in variable abc \t")

All data type can be stored in variable abc 	34

In [75]:
type(abc1)

str

Note that **type( )** returns the format or the type of a variable or a number