# Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [1]:
x = 3
y = 5.1
xy = 'Hey'
z=2.3
a = 47

In [2]:
x,y,xy,z,x+y,a

(3, 5.1, 'Hey', 2.3, 8.1, 47)

In [4]:
print(x)

3

Multiple variables can be assigned with the same value.

In [5]:
x = z = 1

In [12]:
y=2

In [6]:
 x,y,z

(1, 5.1, 1)

# Operators

##Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [11]:
1+2

3

In [12]:
2-1

1

In [7]:
1*2

2

In [8]:
print('ABHAY'*5)

ABHAYABHAYABHAYABHAYABHAY

In [9]:
1/2

0.5

0? This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [21]:
1/2.0

0.5

In [16]:
49%8

1

In [15]:
1//2

0

Floor division is nothing but converting the result so obtained to the nearest integer.

In [19]:
2.8//2.0

1.0

##Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [20]:
z = -1

In [18]:
z == 1

False

In [21]:
z > 1

False

##Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [22]:
a = 2 #10
b = 3 #11

In [31]:
print(a & b)
print(bin(a&b))

2
0b10

In [32]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [33]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

#Built-in Functions

Python comes loaded with pre-built functions

##Conversion from one system to another

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in **hex( )**, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function **oct( )**.

In [23]:
hex(170)

'0xaa'

In [24]:
0xAA

170

In [25]:
oct(8)

'0o10'

In [26]:
0o10

8

In [2]:
a=str(input('enter a value'))

enter a value234

In [3]:
type(a)

str

**int( )** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.

In [48]:
print(int('010',8))
print(int('0xaa',16))
print(int('1010',2))

8
170
10

**int( )** can also be used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function **str( )** can be used to convert the integer back to string format

In [47]:
int(7.7),int('7')

(7, 7)

In [51]:
bin(10)

'0b1010'

In [32]:
float('3.142')

3.142

Also note that function **bin( )** is used for binary and **float( )** for decimal/float values. **chr( )** is used for converting ASCII to its alphabet equivalent, **ord( )** is used for the other way round.

In [37]:
chr(98),chr(66),chr(40)+ 'This is Testing'

('b', 'B', '(This is Testing')

In [39]:
ord('A'),ord('B')

(65, 66)

##Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [1]:
round(5.6231) , round(4.55892, 2)

(6, 4.56)

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [2]:
c =complex('5+2j')
abs(c)

5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [4]:
number,revrseno=divmod(1234,10)
number,revrseno

(123, 4)

In [8]:
number,revrseno=divmod(number,10)
number,revrseno
number,revrseno=divmod(number,10)
number,revrseno
number,revrseno=divmod(number,10)
number,revrseno

(0, 1)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [13]:
isinstance(1, int), isinstance(1.0,int), isinstance(1.0,(int,float)),isinstance([1.0],(int,float,list)),isinstance({'key1':'value1'},(int,float,list,dict))

(True, False, True, True, True)

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [63]:
 pow(3,3), pow(3,3,5)

(27, 2)

In [10]:
3**3

27

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [11]:
for i in range(3):
    print(i, end=', ')

0, 1, 2,

In [8]:
for i in range(3):
    print(i)

0
1
2

In [13]:
a=5
if a==5:
    print('a is 5')

a is 5

In [26]:
a=str(input('enter a number'))

enter a numberhello

In [27]:
type(a)

str

In [16]:
if a==5:
    print('a is 5')
else:
    print('a is not 5')

a is not 5

In [19]:
if a==5:
    print('a is 5')
elif a==3:
    print('a is 3')
else:
    print('a is neither 5 nor 3')

a is neither 5 nor 3

In [18]:
a=10

In [79]:
for i in range(2,9):
    print(i, end=', ')

2, 3, 4, 5, 6, 7, 8,

In [12]:
n=10
for i in range(1,n,2):
    print(str(i)+',')

1,
3,
5,
7,
9,

In [7]:
a=3
if a==5:
    print('a is 5')
elif a==3:
    print('a is 3')
else:
    print('a is not 5')

a is 3

In [1]:
number=int(input('enter number range'))
for i in range(0,number+2,2):
    print(i, end=', ')

enter number range6
0, 2, 4, 6,

In [3]:
#write a program to print odd numbers upto number
# 5-
#1,3,5
number=int(input('enter number range'))
for i in range(1,number+2,2):
    print(i, end=', ')

enter number range5
1, 3, 5,

In [24]:
a=5
print("a =", a, sep='00000', end='\n\n\n')
print("a =", a, sep='0', end='')

a =000005


a =05

##Accepting User Inputs

**input( )**, this is used only for all data inputs.

In [25]:
abc1 =  input("All data type can be stored in variable abc \t")

All data type can be stored in variable abc 	testing

In [75]:
type(abc1)

str

In [27]:
a=10
b=20
print(a,b,sep=",")
a,b=b,a
a,b

10,20

(20, 10)

Note that **type( )** returns the format or the type of a variable or a number