# Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [1]:
x = 3
y = 5.1
xy = 'Hey'
z=2.3
a = 47
xy = "'Hey'"
account_number=123456

In [3]:
x,y,xy,z,x+y,a

(3, 5.1, "'Hey'", 2.3, 8.1, 47)

In [2]:
print(x)   #print x

3

Multiple variables can be assigned with the same value.

In [4]:
x = z = 1

In [ ]:
y=2

In [7]:
 x,y,z

(1, 5.1, 1)

# Operators

##Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [5]:
1+2

3

In [6]:
2-1

1

In [8]:
1.5*2

3.0

In [9]:
'TESTPYTHON'*5

'TESTPYTHONTESTPYTHONTESTPYTHONTESTPYTHONTESTPYTHON'

In [10]:
5/2 #float

2.5

0? This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [ ]:
1/2.0

In [15]:
49%8

1

In [12]:
5%2

1

In [11]:
5//2 #integer

2

Floor division is nothing but converting the result so obtained to the nearest integer.

In [ ]:
2.8//2.0

##Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [13]:
z != 1

False

In [14]:
z == 1

True

In [15]:
z < 1

False

In [16]:
10==10.0

True

##Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [2]:
a = 2 #0010
b = 3 #0011
# 0010
# 0011
# 0010

In [3]:
# a....b....a&b
# 0....0....0
# 0....1....0
# 1....0....0
# 1....1....1

In [4]:
print(a & b)
print(bin(a&b))

2
0b10

In [22]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [25]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

#Built-in Functions

Python comes loaded with pre-built functions

##Conversion from one system to another

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in **hex( )**, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function **oct( )**.

In [26]:
hex(170)

'0xaa'

In [27]:
0xAA

170

In [28]:
oct(8)

'0o10'

In [29]:
0o10

8

In [40]:
number=float(input("Enter Number"))
type(number)

Enter Number10.36

float

In [42]:
number1=float(input("Enter Number1"))
number2=float(input("Enter Number2"))

Enter Number13.14
Enter Number223

In [46]:
number1-number2

-19.86

In [11]:
int(input('Enter any number--->>>>'))

Enter any number--->>>>236

236

In [12]:
a=float(input('enter a value---'))

enter a value---23.69856

In [14]:
a

23.69856

In [15]:
a+10

33.69856

In [13]:
type(a)

float

In [16]:
z=True
type(z)

bool

In [34]:
id(z)

1819722048

**int( )** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.

In [ ]:
print(int('010',8))
print(int('0xaa',16))
print(int('1010',2))

**int( )** can also be used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function **str( )** can be used to convert the integer back to string format

In [ ]:
int(7.7),int('7')

In [ ]:
bin(10)

In [ ]:
float('3.142')

Also note that function **bin( )** is used for binary and **float( )** for decimal/float values. **chr( )** is used for converting ASCII to its alphabet equivalent, **ord( )** is used for the other way round.

In [17]:
chr(98),chr(66),chr(40),chr(34),chr(58)

('b', 'B', '(', '"', ':')

In [18]:
ord('A'),ord('B'),ord("'"),ord(':')

(65, 66, 39, 58)

##Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [52]:
round(5.6231) , round(4.45892, 2)

(6, 4.46)

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [ ]:
c =complex('5+2j')
abs(c)

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [19]:
number,revrseno=divmod(1234,10)
number,revrseno

(123, 4)

In [53]:
1234//10,1234%10

(123, 4)

In [ ]:
number,revrseno=divmod(number,10)
number,revrseno
number,revrseno=divmod(number,10)
number,revrseno
number,revrseno=divmod(number,10)
number,revrseno

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [34]:
isinstance(1, int), isinstance(1.0,int), isinstance(1.0,(int,float)),isinstance([1.0],(int,float,list)),isinstance({'key1':'value1'},(int,float,list,dict))

(True, False, True, True, True)

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [55]:
 pow(3,3), pow(3,3,5),27%5

(27, 2, 2)

In [20]:
3**3

27

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [66]:
for i in range(9):#end paramter-9,start paramter-0,step-1
    print(i, end=':')
#     print()

0:1:2:3:4:5:6:7:8:

In [6]:
for i in range(1,9):#end paramter-9,start paramter-1,step-1
    print(i,end=',')

1,2,3,4,5,6,7,8,

In [7]:
for i in range(1,9,2):#end paramter-3,start paramter-1,step-2
    print(i,end=',')

1,3,5,7,

In [21]:
for index in range(5):
    print('start')
    print('index')
for i in range(4):
    print(i)
print('done')

start
index
start
index
start
index
start
index
start
index
0
1
2
3
done

In [68]:
n=int(input('Enter range'))
for i in range(0,n,2):#end paramter-3,start paramter-1,step-2
    print(i,end=',')

Enter range30
0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,

In [8]:
a=5
if a==5:    
    print('a is 5')
print('done')

a is 5
done

In [ ]:
a=str(input('enter a number'))

In [ ]:
type(a)

In [35]:
a=int(input('Enter any number'))
if a>0 :
    print('a is positive number')
elif a==0:
    print('a is zero')
else:
    print('a is negative number')

Enter any number23
a is positive number

In [58]:
a=11
if a==11 :
    print('value of a is 11')
print('DONE')

value of a is 11
DONE

In [9]:
if a==5:
    print('a is 5')
else:
    print('a is not 5')
print('done')

a is 5
done

In [60]:
a=3
if a==5:
    print('a is 5')
elif a==3:
    print('a is 3')
elif a==2:
    print('a is 2')
else:
    print('a is neither 5 nor 3')
print('done')

a is 3
done

In [62]:
number=int(input('Enter any Number'))
if number % 2 == 0:
    print('number is even')
else:
    print('number is odd')

Enter any Number11
number is odd

In [ ]:
a=10

In [ ]:
for i in range(2,9):
    print(i, end=', ')

In [ ]:
n=10
for i in range(1,n,2):
    print(str(i)+',')

In [ ]:
a=3
if a==5:
    print('a is 5')
elif a==3:
    print('a is 3')
else:
    print('a is not 5')

In [ ]:
number=int(input('enter number range'))
for i in range(0,number+2,2):
    print(i, end=', ')

In [ ]:
#write a program to print odd numbers upto number
# 5-
#1,3,5
number=int(input('enter number range'))
for i in range(1,number+2,2):
    print(i, end=', ')

In [ ]:
a=5
print("a =", a, sep='00000', end='\n\n\n')
print("a =", a, sep='0', end='')

##Accepting User Inputs

**input( )**, this is used only for all data inputs.

In [ ]:
abc1 =  input("All data type can be stored in variable abc \t")

In [ ]:
type(abc1)

In [ ]:
a=10
b=20
print(a,b,sep=",")
a,b=b,a
a,b

In [41]:
import os
os.getcwd()

'C:\\Users\\user\\Documents\\GitHub\\PythonTutorial\\Session1'

Note that **type( )** returns the format or the type of a variable or a number