##Strings

Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [2]:
String0 = 'Taj Mahal is beautiful'
String1 = "Taj Mahal is beautiful"
String2 = '''Taj Mahal
is
beautiful
asdasdads
'''

In [12]:
rstr=String0.split(' ')
print(len(rstr))
print(rstr)
for i in range(len(rstr)):
    print(rstr[i],end=' ')
print()
for i in range(len(rstr)-1,-1,-1):
    print(rstr[i],end=' ')

4
['Taj', 'Mahal', 'is', 'beautiful']
Taj Mahal is beautiful
beautiful is Mahal Taj

In [13]:
len(String0)

22

In [15]:
len('Taj Mahal is beautiful than Pyramids')

36

In [21]:
String0.replace('Taj','Raj')

' Mahal is beautiful'

In [22]:
string1='''Boston to San Francisco	
$513
Los Angeles to Chicago	
$168
New York to Chicago	
$198
Phoenix to San Francisco	
$213'''
string2='''Atlanta to Las Vegas	
$398
Boston to San Francisco	
$513
Los Angeles to Chicago	
$168
New York to Chicago	
$198
Phoenix to San Francisco	
$213'''
print(string2.replace(string1,''))

Atlanta to Las Vegas
$398

In [ ]:
def remove_characters(input_string):
    input_string=input_string.replace(' ','')
    input_string=input_string.replace('""','')
    return input_string

In [37]:
print(String0)
print(String0[0:3])
print(String0[13:])

Taj Mahal is beautiful
Taj
beautiful

In [36]:
print(String0)
print(String0[2::-1])
print(String0[22:12:-1])

Taj Mahal is beautiful
jaT
lufituaeb

In [39]:
# String0 = 'Taj Mahal is beautiful'
String0[22::-1]

'lufituaeb si lahaM jaT'

In [40]:
#reverse of a string
String0[::-1]
if String0==String0[::-1]:
    print()
else:
    print()

'lufituaeb si lahaM jaT'

In [41]:
String0[::1]

'Taj Mahal is beautiful'

In [18]:
String0[4:9]

'Mahal'

In [122]:
#the below slicing code expects three paramters[start:stop:step]
String0[12::-1]

' si lahaM jaT'

In [42]:
String0[0:22:3]

'T h  ail'

In [28]:
ord(' ')

32

In [23]:
String0[10:-9]

'is '

In [2]:
print String0 , type(String0)
print String1, type(String1)
print String2, type(String2)

Taj Mahal is beautiful <type 'str'>
Taj Mahal is beautiful <type 'str'>
Taj Mahal
is
beautiful <type 'str'>

String Indexing and Slicing are similar to Lists which was explained in detail earlier.

In [24]:
print String0[4]
print String0[4:]

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(String0[4])? (<ipython-input-24-93cec42f696e>, line 1)

###Built-in Functions

**find( )** function returns the index value of the given data that is to found in the string. If it is not found it returns **-1**. Remember to not confuse the returned -1 for reverse indexing value.

In [43]:
String0 = 'Taj Mahal is beautiful'
print(String0.find('Mahal'))
print(String0.find('M'))
print(String0.find('Nikhil'))
print(String0.find('tiful'))

4
4
-1
17

### string.rfind(s, sub[, start[, end]])Â¶
Like find() but find the highest index.

In [45]:
String0 = 'Taj Mahal is beautiful'
print(String0.rfind('Mahal'))
print(String0.find('a'))
print(String0.rfind('a'))
print(String0.rfind('Nikhil'))
print(String0.rfind('ful'))

23
1
26
-1
19

In [25]:
String0[4:9]
String0[String0.find('Mahal'):String0.find(' is')]

'Mahal'

In [26]:
pin_code='Pune-411045'
position=pin_code.find('-')
print(pin_code[position+1::1])
print(pin_code[:position:1])

411045
Pune

The index value returned is the index of the first element in the input data.

In [28]:
String0[0]

'T'

One can also input **find( )** function between which index values it has to search.

In [48]:
print(String0)
print(String0.find('i',6))
print(String0.find('a',6))

Taj Mahal is beautiful Mahal
10

In [33]:
 String0.find('a',2,7)

5

In [34]:
str='aa bb aa bbb cc aa'

**capitalize( )** is used to capitalize the first element in the string.

In [49]:
String3 = 'observe the first letter in this sentence.'
String3.capitalize()

'Observe the first letter in this sentence.'

**center( )** is used to center align the string by specifying the field width.

In [50]:
str=String0.center(30)

In [51]:
str

' Taj Mahal is beautiful Mahal '

One can also fill the left out spaces with any other character.

In [52]:
String0.center(30,'-')

'-Taj Mahal is beautiful Mahal-'

**zfill( )** is used for zero padding by specifying the field width.

In [53]:
String0.zfill(30)
'5678'.zfill(30)
'-.5678'.zfill(30)

'-000000000000000000000000.5678'

**expandtabs( )** allows you to change the spacing of the tab character. '\t' which is by default set to 8 spaces.

In [56]:
# \t -Tab \n - Newline
s = 'h\te\tl\tl\to'
print(s)
print(s.expandtabs(9))
print("hello".expandtabs())

h	e	l	l	o
h        e        l        l        o
hello

**index( )** works the same way as **find( )** function the only difference is find returns '-1' when the input element is not found in the string but **index( )** function throws a ValueError

In [58]:
print(String0)
print(String0.index('Taj'))
print(String0.index('l',0))
print(String0.index('Mahal',0))
print(String0.find('test',0))
print(String0.index('test'))

Taj Mahal is beautiful Mahal
0
8
4
-1

ValueError: substring not found

### string.rindex(s, sub[, start[, end]])
Like rfind() but raise ValueError when the substring is not found.

In [3]:
print(String0.rindex('Taj'))
print(String0.rindex('l',0))
print(String0.rindex('Mahal',0))
print(String0.rfind('test',0))
print(String0.rindex('test'))

0
21
4
-1

ValueError: substring not found

**endswith( )** function is used to check if the given string ends with the particular char which is given as input.

In [46]:
filename='asmple.txt'

filename.endswith('.txt')

True

In [59]:
String0.startswith('Taj')

True

The start and stop index values can also be specified.

In [60]:
String0.endswith('l',0)
String0.endswith('M',0,5)

True

**count( )** function counts the number of char in the given string. The start and the stop index can also be specified or left blank. (These are Implicit arguments which will be dealt in functions)

In [3]:
print(String0)
print(String0.count('aj')) #print(String0.count('aj',0))

print(String0.count('bea',6,10))
print(input_string.find('my'))

Taj Mahal is beautiful
1
0

NameError: name 'input_string' is not defined

In [66]:
input_string='''But good morning! Good morning to ye and thou! Iâd say to all my patients, 
because I was the worse of the hypocrites, of all the hypocrites, the cruel and phony 
hypocrites, I was the very worst.'''
print(input_string.count('morning'))
print(input_string.count('all',58))
print(input_string.count('all',62))

2
2

In [49]:
input_string='But good morning! Good morning to ye and thou! Iâd say to all my patients, because I was the worse of the hypocrites, of all the hypocrites, the cruel and phony hypocrites, I was the very worst.'
search_string='morning'
position=0
word_count=0
length=len(input_string)
while (position<=length):
    index=input_string.find(search_string,position,length)
    if index==-1:
        break
    else:
        position=index+len(search_string)
        word_count=word_count+1
print(word_count)
print(input_string.count(search_string))
# print(search_string +' has appeared '+ str(word_count)+' times')

2
2

In [69]:
for char in String0:
    print(char,end=' ')

T a j   M a h a l   i s   b e a u t i f u l   M a h a l

**join( )** function is used add a char in between the elements of the input string.

In [51]:
'abcde'.join('?*_-')

'?abcde*abcde_abcde-'

In [148]:
'abcde'.join('-_**-_')

'-abcde_abcde*abcde*abcde-abcde_'

'*_-' is the input string and char 'a' is added in between each element

**join( )** function can also be used to convert a list into a string.

In [54]:
a = list(String0)
print(a,end=',')

['T', 'a', 'j', ' ', 'M', 'a', 'h', 'a', 'l', ' ', 'i', 's', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l'],

In [55]:
b = ' '.join(a)
print((b),end=',')

T a j   M a h a l   i s   b e a u t i f u l,

Before converting it into a string **join( )** function can be used to insert any char in between the list elements.

In [56]:
c = '/'.join(a)[18:]
c

' /i/s/ /b/e/a/u/t/i/f/u/l'

**split( )** function is used to convert a string back to a list. Think of it as the opposite of the **join()** function.

In [8]:
d = c.split('/')
d

NameError: name 'c' is not defined

In [9]:
d = 'Taj Mahal is beautiful'.split(' ',2)
d

['Taj', 'Mahal', 'is beautiful']

In [7]:
d = 'Taj Mahal is beautiful'.rsplit(' ',2)
d

['Taj Mahal', 'is', 'beautiful']

In [10]:
str1 = "w,e,l,c,o,m,e"
print(str1.split(',',2))

str1 = "w,e,l,c,o,m,e"
print(str1.rsplit(',',2))

['w', 'e', 'l,c,o,m,e']
['w,e,l,c,o', 'm', 'e']

In [82]:
e='aaaaaa'.split('a')
print(type(e))
print(len(e))
print(e)

<class 'list'>
7
['', '', '', '', '', '', '']

In **split( )** function one can also specify the number of times you want to split the string or the number of elements the new returned list should conatin. The number of elements is always one more than the specified number this is because it is split the number of times specified.

In [20]:
e = c.split('/',3)
e
print len(e)

[' ', 'i', 's', ' /b/e/a/u/t/i/f/u/l']
4

**lower( )** converts any capital letter to small letter.

In [58]:
String0.lower()

'taj mahal is beautiful'

**upper( )** converts any small letter to capital letter.

In [59]:
String0.upper()

'TAJ MAHAL IS BEAUTIFUL'

**replace( )** function replaces the element with another element.

In [60]:
String0.replace('Taj Mahal','Bengaluru')

'Bengaluru is beautiful'

**strip( )** function is used to delete elements from the right end and the left end which is not required.

In [149]:
f = '    hello      '
f

'    hello      '

If no char is specified then it will delete all the spaces that is present in the right and left hand side of the data.

In [150]:
f.strip()

'hello'

**strip( )** function, when a char is specified then it deletes that char if it is present in the two ends of the specified string.

In [61]:
f = '   ***----hello---*******     '

In [64]:
print(f.strip())
print(f.strip('*'))

***----hello---*******
   ***----hello---*******

In [97]:
str='---mytext---'
str.strip('-')

'mytext'

The asterisk had to be deleted but is not. This is because there is a space in both the right and left hand side. So in strip function. The characters need to be inputted in the specific order in which they are present.

In [28]:
print f.strip(' *')
print f.strip(' *-')

----hello---
hello

**lstrip( )** and **rstrip( )** function have the same functionality as strip function but the only difference is **lstrip( )** deletes only towards the left side and **rstrip( )** towards the right.

In [29]:
print f.lstrip(' *')
print f.rstrip(' *')

----hello---*******
   ***----hello---

### string.swapcase(s)Â¶
Return a copy of s, but with lower case letters converted to upper case and vice versa.

In [71]:
print('Test1'.swapcase())
print('test2'.swapcase())
print('TEST3'.swapcase())

tEST1
TEST2
test3

string.ljust(s, width[, fillchar])- for left justified text
string.rjust(s, width[, fillchar])- for right justified text

In [80]:
print('T'.ljust(5,'*'))
print('T'.rjust(5,'*'))

T****
****T

##Dictionaries

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [66]:
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

In [94]:
d0['One'] = 1
d0['OneTwo'] = 12 
print(d0)

{'One': 1, 'OneTwo': 12}

In [97]:
d1={ 'One':1}

d1

{'One': 1}

That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'

In [70]:
print(d0['One'])

1

Two lists which are related can be merged to form a dictionary.

In [100]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4,5]
digits = [1, 2]
d3={}
for i in range(len(names)):
    d3[names[i]]=numbers[i]
print(d3)

IndexError: list index out of range

In [101]:
for value1,value2 in zip(names,numbers):
    print(value1,value2)

One 1
Two 2
Three 3
Four 4

In [104]:
import itertools
for value1,value2 in itertools.zip_longest(names,numbers):
    print(value1,value2)

One 1
Two 2
Three 3
Four 4
Five None

**zip( )** function is used to combine two lists

In [107]:
d2 = dict(zip(names,numbers))
print(d2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}

The two lists are combined to form a single list and each elements are clubbed with their respective elements from the other list inside a tuple. Tuples because that is what is assigned and the value should not change.

Further, To convert the above into a dictionary. **dict( )** function is used.

In [110]:
a1 = dict(d2)
print(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}

###Built-in Functions

**clear( )** function is used to erase the entire database that was created.

In [108]:
a1.clear()
print(a1)

{}

Dictionary can also be built using loops.

In [37]:
for i in range(len(names)):
    a1[names[i]] = numbers[i]
print a1

{'Four': 4, 'Five': 5, 'Three': 3, 'Two': 2, 'One': 1}

**values( )** function returns a list with all the assigned values in the dictionary.

In [111]:
a1.values()

dict_values([1, 2, 3, 4])

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [88]:
a1.keys()

dict_keys(['One', 'Two', 'Three', 'Four'])

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used.

In [112]:
a1.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4)])

**pop( )** function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [113]:
a2 = a1.pop('Four')
print(a1,a2)

{'One': 1, 'Two': 2, 'Three': 3} 4

In [93]:
dict3={'shareholder':
       [1,2,3,4,5,"sucess",1.2]
      }
print(dict3)

{'shareholder': [1, 2, 3, 4, 5, 'sucess', 1.2]}