In [10]:
from io import StringIO 
import pandas as pd 
import datacompy 

	
data1 = """employee_id,name,age
1, rajiv kapoor ,20
2, rahul agarwal ,23
3, alice johnson ,26
4,Praful,31
"""

data2 = """employee_id,name
1, rajiv khanna 
2, rahul aggarwal 
3, alice tyson 
4,Praful
"""
# conn=cx_oracle.connect(hostname,username,password,port)
# pd.read_sql("selct * from employee",conn)
df1 = pd.read_csv(StringIO(data1)) 
df2 = pd.read_csv(StringIO(data2)) 
print(df1.head())
print(df2.head())
compare = datacompy.Compare( 
	df1, 
	df2, 
	
	# You can also specify a list 
	# of columns 
	join_columns = ['employee_id','name'], 
	
	# Optional, defaults to 0 
	abs_tol = 0, 
	
	# Optional, defaults to 0 
	rel_tol = 0, 
	
	# Optional, defaults to 'df1' 
	df1_name = 'Original', 
	
	# Optional, defaults to 'df2' 
	df2_name = 'New'
	) 

# if ignore_exra_columns=True, 
# the function won't return False 
# in case of non-overlapping 
# column names 
compare.matches(ignore_extra_columns = True) 

# This method prints out a human-readable 
# report summarizing and sampling 
# differences 
print(compare.report())

   employee_id             name  age
0            1    rajiv kapoor    20
1            2   rahul agarwal    23
2            3   alice johnson    26
3            4           Praful   31
   employee_id              name
0            1     rajiv khanna
1            2   rahul aggarwal
2            3      alice tyson
3            4            Praful
DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Original        3     4
1       New        2     4

Column Summary
--------------

Number of columns in common: 2
Number of columns in Original but not in New: 1
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: employee_id, name
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1
Number of rows in Original but not in New: 3
Number of rows in New but not in Original: 3

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 1

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

   employee_id             name   age
2            3   alice johnson   26.0
0            1    rajiv kapoor   20.0
1            2   rahul agarwal   23.0

Sample Rows Only in New (First 10 Columns)
------------------------------------------

   employee_id              name
5            2   rahul aggarwal
4            1     rajiv khanna
6            3      alice tyson


   employee_id             name   age
0            1    rajiv kapoor   20.0
1            2   rahul agarwal   23.0
2            3   alice johnson   26.0

In [13]:
print(compare.df1_unq_rows)
compare.df1_unq_rows.to_csv('df1.csv')

None

In [12]:
print(compare.df2_unq_rows)

   employee_id              name
4            1     rajiv khanna
5            2   rahul aggarwal
6            3      alice tyson